<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43259721000-kjnhpchpehpun90jlh7q3pggaktjpfg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43259721000-kjnhpchpehpun90jlh7q3pggaktjpfg0</string>
	<key>API_KEY</key>
	<string>AIzaSyDcOHPt1lp6LI9W5JX-2y2L-zwallGp0r4</string>
	<key>GCM_SENDER_ID</key>
	<string>43259721000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ashwin.PlannED</string>
	<key>PROJECT_ID</key>
	<string>planned-2893b</string>
	<key>STORAGE_BUCKET</key>
	<string>planned-2893b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:43259721000:ios:5766ed2f8c9e80e6e84c1d</string>
	<key>DATABASE_URL</key>
	<string>https://planned-2893b.firebaseio.com</string>
</dict>
</plist>
